pkgbase = cppreference
	pkgdesc = A complete reference for the features in the C++ Standard Library.
	pkgver = 20240610
	pkgrel = 1
	url = http://en.cppreference.com/
	arch = any
	license = CCPL:cc-by-sa
	depends = ttf-dejavu
	options = !strip
	options = !emptydirs
	source = https://github.com/PeterFeicht/cppreference-doc/releases/download/v20240610/cppreference-doc-20240610.tar.xz
	sha256sums = 840e08db99650fc58ea9fd0838e5141f2da4fa9f86968367b1549b06f54f5f26

pkgname = cppreference
